smallStar RCData "Resources\\Images\\16x16\\star_small.png"
smallStarEmpty RCData "Resources\\Images\\16x16\\star_small_empty.png"
CreateCollectionDB_SQLite RCData "DAO\\SQLite\\Resources\\CreateCollectionDB_SQLite.sql"
CreateSystemDB_SQLite RCData "DAO\\SQLite\\Resources\\CreateSystemDB_SQLite.sql"
bookRemoteReview RCData "Resources\\Images\\16x16\\remote-review.png"
bookLocalRead RCData "Resources\\Images\\16x16\\local-read.png"
bookLocalReadReview RCData "Resources\\Images\\16x16\\local-read-review.png"
bookLocalReview RCData "Resources\\Images\\16x16\\local-review.png"
bookRemoteRead RCData "Resources\\Images\\16x16\\remote-read.png"
bookRemoteReadReview RCData "Resources\\Images\\16x16\\remote-read-review.png"
bookLocalUnread RCData "Resources\\Images\\16x16\\local-unread.png"
RecreateCollectionTables RCDATA "DAO\\SQLite\\Resources\\RecreateCollectionTables_SQLite.sql"
